.login{
    height: 100vh;
    background-color: rgb(190, 195, 250);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 400px;
        overflow: auto;

        .left{
            flex: 1;
            background: linear-gradient(rgba(40, 20, 90, 0.5), rgba(40, 20, 90, 0.5)), url(https://images.pexels.com/photos/163999/pexels-photo-163999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 50px;
                line-height: 50px;
            }
            p{}

            span{
                font-size: 14px;
            }

            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: blueviolet;
                font-weight: bold;
                cursor: pointer;
                border-radius: 10px;
            }
        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #555;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border: none;
                    border-bottom: 1px solid lightblue;
                    padding: 20px 10px;
                }

                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(46, 78, 78);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 10px;
                }
            }
        }
    }
}